<header class="site-header wrapper">
	<div class="repel">
        <div class="site-header__brand">
            <a href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
        </div>
           
        {{navigation type="primary"}}

        <div class="site-header__actions cluster">
            {{search}}
        
            {{#if @site.members_enabled}}
                {{^if @member}}
                <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
                {{else}}
                <a class="gh-button" href="#/portal/account">Account</a>
                {{/if}}
            {{/if}}
        </div>
    </div>
</header>